name: Continuous Integration and Deployment (CI/CD) - Moviecards Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "microsoft"

      - name: Build with Maven
        run: mvn clean package -DskipTests
        
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: moviecards-service-java
          path: "${{ github.workspace }}/target/*.jar"

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "microsoft"

      - name: Run tests
        run: mvn clean verify

  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
      
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: moviecards-service-java
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'moviecards-service-higuero' 
          slot-name: 'Production'
          package: '*.jar'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E7992B5FAC36440D908693B626CC50BF }}